@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;500;600;700&family=Bebas+Neue&family=Bigelow+Rules&family=Grape+Nuts&family=Open+Sans:wght@500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: Assistant;
  font-size: 2.5rem;
  font-weight: bold;
  color: #1a223e;
  margin: 0;
}
